[Desktop Entry]
Version=1.0
Type=Application

Name=Snowflake
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=snowflake

Icon=dev.snowflake.snowflake
Exec=snowflake %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=snowflake --new %F
Icon=dev.snowflake.snowflake
